{{ define "_footer" }}
			<footer>
            <nav>
              <ul>
                <li>
                  <small>Made by <a href="http://www.wuxiaobai24.com">wuxiaobai24</a>, 2019</small>
                </li>
              </ul>
            </nav>
            
            
          </footer>
      </section>
  </body>
</html>
{{ end }}