{{ template "_header" .}}

<article>
	<h1>Posts</h1>
	<ul>
		{{range .Posts}}
			<li><a href="/post/{{.ID}}">{{.Title}}</a>, {{ToDate .CreatedAt}}</li>
		{{end}}
	</ul>
	{{if .Prev}}
	<a href="{{.Prev}}">Prev</a>
	{{end}}
	{{if .Next}}
	<a href="{{.Next}}">Next</a>
	{{end}}

</article>

{{ template "_footer" }}
